html, body {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  padding-top: 0.5em;
  font-family: cursive;
  background: -webkit-linear-gradient(#000, #fff);
  background: -moz-linear-gradient(#000, #fff);
  background: -o-linear-gradient(#000, #fff);
  color: #FFE4B5;
  background: url('../img/HolyBible.jpg') no-repeat;
  background-size: cover;
}

#btn, #searchInput {
  background: none;
  border: 1px solid #FFE4B5;
  font-family: cursive;
  border-radius: 0.6em;
  box-shadow: 0.1em 0.1em 0.2em #FFE4B5;
  color: #FFE4B5;
  outline: none;
}

#btn {
  width: 8em;
  height: 3em;
  padding: 0.5em;
  font-weight: bolder;
}

#btn:hover {
  background: #fff;
  box-shadow: none;
  color: #000;
  opacity: 0.5;
}

#searchInput {
  width: 16em;
  height: 1.7em;
  padding: 0.5em 1em;
}

#searchInput:hover {
  border: 1px solid #fff;
  box-shadow: none;
}

#options {
  display: block;
  margin: 0.5em auto;
  font-size: 0.8em;
}

#info {
  display: block;
  margin: 0.3em auto;
  background: none;
  border: 1px solid #FFE4B5;
  border-radius: 1em;
  width: 30%;
  padding: 0.5em;
  font-size: 1em;
  color: #FFE4B5;
}

#container, #searchListContainer {
  position: absolute;
  height: 65%;
  top: 21%;
  padding: 1em 1.4em 0.9em 1.6em;
  line-height: 1.4;
}

#container {
  transition: 2s ease-in-out 0.5s;
  -webkit-transition: 2s ease-in-out 0.4s;
  -moz-transition: 2s ease-in-out 0.4s;
  -o-transition: 2s ease-in-out 0.4s;
  z-index: 1;
  width: 0.1%;
  left: 1%;
  opacity: 0.8;
  text-align: center;
  font-family: 'Modern Antiqua', cursive;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  background: url('../img/scroll_background.png') no-repeat;
  background-size: cover;
}

#searchListContainer {
  background: #fff;
  right: 1%;
  width: 24%;
  height: 68%;
  overflow: hidden;
  text-align: left;
  background: url('../img/ancient_scroll_1600.png') no-repeat;
  background-size: cover;
  color: #000;
  font-size: 0.8em;
}

#searchListContainer:hover {
  overflow: scroll;
  overflow-x: hidden; 
}

#content {
  position: relative;
  text-align: left;
  padding: 0 0.8em;
  top: 1%;
  max-height: 96%;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

#content:hover {
  overflow: scroll;
  overflow-x: hidden;
}

.preview {
  width: 99%;
  z-index: 1;
  transition: 2s ease-in-out 0.5s;
  -webkit-transition: 2s ease-in-out 0.4s;
  -moz-transition: 2s ease-in-out 0.4s;
  -o-transition: 2s ease-in-out 0.4s;
}

li {
  color: blue;
}

li p {
  color: black;
}

a {
  text-decoration: none;
}

#bibliaInfo a:hover {
  text-decoration: underline;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;
  color: #fff;
}

.bibliaInfo {
  display: inline-block;
  font-size: 0.75em;
}

.bibliaInfo a {
  color: lightblue;
  font-weight: bolder;
}

.bibliaInfo img {
  opacity: 0.5;
}

#searchHeader {
  font-weight: bolder;
  text-align: center;
}